.sign-up {
    display: flex;
    align-items: center;
}

.text-container {
    text-align: start;
    width: 50%;
  }
  
.header {
  white-space: normal;
  font-size: 2.0em;
  color: rgb(255, 64, 0);
}
  
.text {
  white-space: normal;
  font-size: 0.8em;
  color: rgb(32, 30, 31);
  width: 70%;
}

.sign-up-link {
  background-color: rgb(255, 64, 0);
  font-size: small;
  color: rgb(254, 239, 221);
  margin: 10px 0;
  width: 50px;
}

.img-container {
  justify-self: center;
  width: 40%;
}  
