.footer {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0; /* Add this */
  right: 0; /* Add this */
  justify-content: space-between;
  background-color: rgb(80, 178, 192);
  font-family: 'Gill Sans', sans-serif;
  font-size: 0.8em;
  color: rgb(32, 30, 31);
}

.left-container {
  margin-left: 150px;
}

.logo {
  align-self: center;
  padding: 5px;
  width: 100px;
  height: 50px;
}

.links {
  margin-top: 5px;
  margin-bottom: 5px;
}

.left-container p {
  margin-bottom: 5px;
}

.right-container {
  margin-right: 150px;
}

.socials {
  margin-top: 5px;
}

.emails {
  margin-top: 5px;
}
