.body-grid {
    display: grid;
    padding-top: 5%;
    grid-template-columns: [c1] 560px [c2] auto [c3] 320px;
    grid-template-rows: [r1] 25% [r2] 30% [r3] 12% [r4] 25%;
}

.home-heading {
    grid-row: 1;
    grid-column: 2;
    color:#FF4000;
    font-size: 16px;
    letter-spacing: 1px;
    padding-top: 5%;
}

.body-heading {
    grid-row: 2;
    grid-column: 2;
    color: #393939; 
    /* I stole this from the figma mockups but this wasn't in the 
    color scheme so we can change later if dont like*/
    font-size: 48px;
    height: 72px;
    width: 800px;
    letter-spacing: 2px;
}

.search-bar-heading {
    grid-row: 3;
    grid-column: 2;
    color:#FF4000;
    font-size: 16px;
    letter-spacing: 1px;
}

.search {
    width: 832px;
    height: 65px;
    display: flex;
    gap: 10px;
    grid-column: 2;
    grid-row: 4;
}

.search-button {
    height: 45px;
    width: 150px;
    color: white;
    background-color: #FF4000;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

.search-button:hover {
    background-color: #FAAA8D;
}
