body {
    font-family: Arial, sans-serif;
    background-color: #FEEFDD;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-user-page {
    padding: 85px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(66, 66, 66);
    margin: auto;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

h5{
    color: #FF4000;
    font-size: 30px;
}

.user-input {
    background-color: white;
    width: 100%;
}

.change-input {
    display: flex;
    flex-direction: column;
    margin-right: 120px;
    width: 100%;
    margin-bottom: 10px;
}

.confirm-button{
    display: flex;
    justify-content: center;
    width: 100%;
}

.confirm-btn {
    color: white;
    background-color: #FF4000;
    font-weight: bold;
    width: 60%;
}

.confirm-btn:hover {
    background-color: #cc3300;
}
