.profile-grid {
    display: grid;
    grid-template-columns: [c1] 640px [c2] auto [c3] 320px;
}

.profile-card {
    display: flex;
    gap: 16px;
    grid-column: 2;
    width: 800px;
    height: 160px;
    padding: 16px;
    border: solid #FF4000;
    border-width: 3px 3px;
}

.row1{
    display: flex;
}

.username {
    font-size: 24px;
    padding-top: 0;
    padding-right: 250px;
    margin: 0;
    color: #393939; 
}

.user-details{
    display: flex;
}

.pfp {
    width: 160px;
    height: 160px;
}

.skills {
    display: inline-block;
    text-align: center;
    margin-top: 4px;
    color: white;
    font-size: 16px;
    font-weight:lighter;
    background-color: #FAAA8D;
    padding: 5px;
}

.bio {
    margin-top: 2px;
}

.row2{
    display: flex;
    padding-top: 35px;
    gap: 5px;
}

.location-icon {
    padding-top: 3px;
    width: 15px;
    height: 20px;
}