.BodyTwo {
    align-items: start;
    display: flex;
    background-color: rgb(254, 239, 221);
    font-family:'Gill Sans', sans-serif;
    justify-content: space-evenly;
    padding: 10px;
}

.IMG-items {
    background-color: rgb(254, 239, 221);
    border: rgb(250, 170, 141);
    text-align: left;
    flex: 1;
    padding: 50px;
    display: grid;
}

.IMG-items img {
    display: block;
    max-width: 65%;
    max-height: 65%;
    margin-left: 0;
}

.IMG-items h5 {
    color: rgb(255, 64, 0);
    margin-top: 5px;
    margin-left: 0;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.IMG-items p {
    color: rgb(32, 30, 31);
    margin-left: 0;
    margin-top: 5px;
    font-size: 0.8em;
}