.testimonial {
    display: flex;
}

.text-container {
    text-align: start;
    white-space: normal;
    margin-left: 70px;
}

.text-container h2 {
    color: rgb(255, 64, 0);
    font-size: 2em;
}

.text-container p {
    font-size: 0.8em;
    color: rgb(32, 30, 31);
}

.img-container {
    display: flex;
    padding-top: 40px;
    justify-content: space-around;
    align-items: center;
}
