.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    margin-top: 200px;
    background: #fff;
    padding-bottom: 40px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.underline{
    width: 320px;
    height: 5px;
    background: rgb(37, 37, 37);
    border-radius: 9px;
    margin: 0px 140px;
}

.text{
    color: black;
    font-size: 20px;
    font-weight: 700;
}

.text1{
    margin: 0px 140px;
    margin-top: -20px;
    margin-bottom: -40px;
    font-size: 18px;
    font-weight: 450;
}

.inputs {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 45px;
  }

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 320px;
    height: 50px;
    background: rgb(231, 231, 231);
    border-radius: 6px;

}

.input input{
    margin: 0px 10px;
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 16px;

}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 59px;
    color: #fff;
    background: #FAAA8D;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
